.header {
    background-color: rgba(128, 128, 128, 0.7);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px black;
    font-family: sans-serif;
}

.title {
    font-size: 1.5rem;
    color: #4a148c;
}

.nav {
    display: flex;
    gap: 1.5em;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    color: #4a148c;
    font-weight: 600;
    transition: color 0.2s ease;
}

.navLink:hover {
    color: #8e44ad;
    cursor: pointer;
}
