.item {
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    gap: 8px;
}
